<!DOCTYPE html>
<html>
<head>
 <% include ./header.ejs %>      
<link rel="stylesheet" href="stylesheets/menu.css">
</head>
<% include ./nav.ejs %>
  <body>
    <div id="menu_wrapper">
    <div id="menu">
      <div id="shop_info">
        <div id="shop_img"><img src="/images/shop1.jpg" alt="restro"></div>
        <div id="shop_info">
          <p>Restio</p>
          <p>충주시 충열2길 1</p>
	  <p>10am ~ 01am</p>
          <p>043-840-6631</p>
      </div>
    </div>
	<div id = "menu">
      <div id="left_menu">
        <div class="container">
  <h1 class="title">menu</h1>
  <ul>
    <li class="dropdown">
      <input type="checkbox" />
      <a href="#" data-toggle="dropdown">스테이크</a>
      <ul class="dropdown-menu">
        <li><a href="#">비프 스테이크</a></li>
        <li><a href="#">티본 스테이크</a></li>
        <li><a href="#">리브 스테이크</a></li>
        <li><a href="#">갈릭스테이크</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <input type="checkbox" />
      <a href="#" data-toggle="dropdown">스파게티</a>
      <ul class="dropdown-menu">
        <li><a href="#">토마토 스파게티</a></li>
        <li><a href="#">크림 스파게티</a></li>
        <li><a href="#">해물 스파게티</a></li>
        <li><a href="#">로제 스파게티</a></li>
        <li><a href="#">봉골레 스파게티</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <input type="checkbox" />
      <a href="#" data-toggle="dropdown">샐러드</a>
      <ul class="dropdown-menu">
        <li><a href="#">리코타치즈샐러드/a></li>
        <li><a href="#">카프레제</a></li>
        <li><a href="#">연어 샐러드</a></li>
        <li><a href="#">비프 샐러드</a></li>
        <li><a href="#">감자 샐러드</a></li>
        <li><a href="#">닭가슴살 샐러드</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <input type="checkbox" />
      <a href="#" data-toggle="dropdown">음료</a>
      <ul class="dropdown-menu">
        <li><a href="#">맥주</a></li>
        <li><a href="#">콜라</a></li>
        <li><a href="#">사이다</a></li>
        <li><a href="#">환타</a></li>
        <li><a href="#">에이드</a></li>
      </ul>
    </li>
  </ul>
</div>


    </div>
<% include ./nav.ejs %>

