<nav class="navbar navbar-expand-md fixed-top navbar navbar-light" 
style="background-color: #c8c8c8;">
      <a class="navbar-brand" href="/">
      	<img src="/images/logo.png" width="225" height="50" 
class="d-inline-block align-top" alt="fastfood">
      </a>
      <button class="navbar-toggler" type="button" 
data-toggle="collapse" data-target="#navbarCollapse" 
aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle 
navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span 
class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/board">Board</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/">Log out
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">My page</a>
      </li>
     </ul>
      </div>
    </nav>

